# SEMANA 03
Jesus Inocencio Lopez Rodriguez

# Temas 
1. Colección de Datos
2. Estructuras Decisivas y Estructuras Repetitivas
3. Clases y Objetos
4. Funciones

# 1.Colecciones

In [6]:
# 1.1 Listas
# Es una colección de elementos que puede ser ordenada, modificada, etc..
# Se identifica por los corchetes
# Ejemplo:
aula = ['Bernaola','Chipana','Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [8]:
# También se puede imprimir con solo mencionar la lista
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [16]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])
print(aula[2])
print(aula[3])

Bernaola
Chavez
Gomez
Navarro

In [18]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [20]:
# Mostramos como quedó la lista
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro']

In [22]:
# Para agregar un elemento utilizamos append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [24]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Bernaola")
aula

['Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [26]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Gomez")
aula

['Chavez', 'Navarro', 'Hermitaño', 'Gomez']

In [28]:
# Para obtener el tamaño utilizamos len()
len(aula)

4

In [30]:
# Para recorrer podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Chavez
Navarro
Hermitaño
Gomez

In [32]:
# Para invertir la lista utilizamos reverse()
# Invertir NO significa ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Chavez']

In [34]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Chavez', 'Gomez', 'Hermitaño', 'Navarro']

In [36]:
# 1.2 Tuplas
# Es una colección de elementos ordenada (Ordenado significa que tiene un índice)
# No se pueden modificar, es inalterable. No se pueden agregar ni eliminar elementos.
# Se identifica por los parentesis
tupla_aula=('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [38]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [40]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [42]:
# 1.3 Conjuntos
# Es una colección de elementos que no está ordenado (Significa que no tiene un índice)
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [44]:
# Se ouede recorrer utilizando una estructura repetitiva
# Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Chipana
Navarro
Bernaola
Gomez

In [46]:
# Observación: No se puede acceder por posición pues no considera indexación
# Por ejemplo: conjunto_aula[2] devolvería un mensaje de error

In [50]:
# Para saber la cantidad de elementos utilizamos len()
len(conjunto_aula)

4

In [52]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [82]:
# Para eliminar elementos utilizamos la función remove()
#conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaola', 'Gomez', 'Navarro', 'Palomino'}

In [62]:
# 1.4. Didccionarios
# Es una colección de elementos, que están indexados, no estan ordenados y se pueden modificar.
# Son escritos entre llaves y están formados por pares delementos
# INDICE:VALOR
diccionario_aula = {2:'Bernaola',1:'Chipana','dos':'Gomez','3':'Navarro','0':'Palomino'}
diccionario_aula

{2: 'Bernaola', 1: 'Chipana', 'dos': 'Gomez', '3': 'Navarro', '0': 'Palomino'}

In [64]:
# Del Diccionario: diccionario_aula extraer el valor cuyo índice sea cero
diccionario_aula['0']

'Palomino'

In [70]:
diccionario_aula[2]

'Bernaola'

In [72]:
diccionario_aula[1]

'Chipana'

In [76]:
diccionario_aula["dos"]

'Gomez'

In [78]:
# Para añadir un par de elementos en el diccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 1: 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [84]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo, eliminar el elemento de índice dos. 
diccionario_aula.pop(2)
diccionario_aula

{1: 'Chipana', 'dos': 'Gomez', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [86]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{1: 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [88]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo devuelve los índices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [90]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice,valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [148]:
# 1.5 Ejercicio
# Dado una lista de [BERNAL, BERNAOLA, CABALLERO, CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA] 
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista 
lista_aula = ['BERNAL', 'BERNAOLA', 'CABALLERO', 'CALDERON', 'CARRASCO', 'CENTENO', 'CHALQUE', 'CHAVEZ', 'CONDORI', 'CRUZ', 'PALACIOS', 'PALOMINO', 'QUISPE', 'RAMOS', 'RODAS', 'SILVERA', 'TALAVERA', 'TINEO', 'VICTORIO', 'VILCA', 'ZEA'] 
apellido = input()
apellido_mayus = apellido.upper()
validación = 0
for alumno in lista_aula:
    if apellido_mayus == alumno:
        validación = validación + 1
    else:
        validación = validación + 0
if validación == 1:
    print('El apellido se encuentra en la lista')
else:
    print('El apellido no se encuentra en la lista')

 CaballerO

El apellido se encuentra en la lista